<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from techzaa.in/larkon/admin/category-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:17 GMT -->
<head>
     <!-- Title Meta -->
     <meta charset="utf-8" />
     <title>Create Category | Larkon - Responsive Admin Dashboard Template</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="A fully responsive premium admin dashboard template" />
     <meta name="author" content="Techzaa" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />

     <!-- App favicon -->
     <link rel="shortcut icon" href="images/favicon.ico">

     <!-- Vendor css (Require in all Page) -->
     <link href="css/vendor.min.css" rel="stylesheet" type="text/css" />

     <!-- Icons css (Require in all Page) -->
     <link href="css/icons.min.css" rel="stylesheet" type="text/css" />

     <!-- App css (Require in all Page) -->
     <link href="css/app.min.css" rel="stylesheet" type="text/css" />

     <!-- Theme Config js (Require in all Page) -->
     <script src="js/config.js"></script>
</head>

<body>

     <!-- START Wrapper -->
     <div class="wrapper">

          <!-- ========== Topbar Start ========== -->
          <%- include('../partials/admin/header') %>
          <!-- Right Sidebar (Theme Settings) -->
          <%- include('../partials/admin/theme') %>
          <!-- ========== Topbar End ========== -->

          <!-- ========== App Menu Start ========== -->
          <%- include('../partials/admin/nav') %>
          <!-- ========== App Menu End ========== -->

          <!-- ==================================================== -->
          <!-- Start right Content here -->
          <!-- ==================================================== -->
          <div class="page-content">

               <!-- Start Container Fluid -->
               <div class="container-xxl">

                    <div class="row">
                         <div class="col">
                              <div class="card">
                                   <div class="card-header d-flex justify-content-between align-items-center gap-1">
                                        <h4 class="card-title flex-grow-1">General Information</h4>
                                        <a href="/admin/category" class="btn btn-sm btn-primary">
                                             All Category
                                        </a>
                                   </div>
                                   <div class="card-body">
                                    <form onsubmit="return handleFormSubmit(event)" id="category-form">
                                        <div class="row">
                                             <div class="col-lg-12">
                                                       <div class="mb-3">
                                                            <label for="category-name" class="form-label">Category Name</label>
                                                            <input type="text" id="category-name" class="form-control" placeholder="Enter Name" name="category-Name">
                                                            <div id="name-error" class="error-message text-danger"></div>
                                                       </div>
                                             </div>

                                             <div class="col-lg-12">
                                                  <div class="mb-0">
                                                       <label for="description" class="form-label">Description</label>
                                                       <textarea class="form-control bg-light-subtle" name="description" id="description" rows="7" placeholder="Type description"></textarea>
                                                       <div id="description-error" class="error-message text-danger"></div>
                                                  </div>
                                             </div>
                                        </div>
                                   </form>     
                              </div>
                              <div class="p-3 bg-light mb-3 rounded">
                                   <div class="row justify-content-end g-2">
                                        <div class="col-lg-2">
                                             <button form="category-form" type="submit" id="save-btn" class="btn btn-outline-secondary w-100">Save Change</button>
                                        </div>
                                        <div class="col-lg-2">
                                             <a href="/admin/addCategory" class="btn btn-primary w-100">Cancel</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
               <!-- End Container Fluid -->

               <!-- ========== Footer Start ========== -->
               <%- include('../partials/admin/footer') %>
               <!-- ========== Footer End ========== -->

          </div>
          <!-- ==================================================== -->
          <!-- End Page Content -->
          <!-- ==================================================== -->


     </div>
     <!-- END Wrapper -->
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

     <!-- Vendor Javascript (Require in all Page) -->
     <script src="js/vendor.js"></script>

     <!-- App Javascript (Require in all Page) -->
     <script src="js/app.js"></script>

     <script>

     async function handleFormSubmit(event) {
          event.preventDefault();
          if(!validateForm()) {
               return;
          }
          try {
               const name = document.getElementById('category-name').value;
               const description = document.getElementById('description').value;
               const response = await fetch('/admin/addCategory',{
                    method: 'POST',
                    headers: {
                    'content-type': 'application/json'
                    },
                    body:JSON.stringify({name,description})
               });
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    window.location.href = '/admin/category';
               }
          } catch (error) {
               Swal.fire({
                    icon: 'error',
                    title: 'Oops',
                    text: error.message
               })
          }
     }
   
      function validateForm() {
        clearErrorMessages();
        const name = document.getElementById('category-name').value.trim();
        const description = document.getElementById('description').value.trim();
        let isValid = true;

        if(name === "") {
          displayErrorMessage('name-error', 'Please enter a name');
          isValid = false;
        } else if(!/^[a-zA-Z\s]+$/.test(name)) {
          displayErrorMessage('name-error', 'Category name should conatin only alphabetic characters');
          isValid = false;
        }
        if(description === "") {
          displayErrorMessage('description-error', 'Please enter a description');
          isValid = false;
        } 
        return isValid;
      }

      function displayErrorMessage(elementId, message) {
        let errorElement = document.getElementById(elementId);
        errorElement.innerHTML = message;
        errorElement.style.display = 'block';
      }

      function clearErrorMessages() {
        const errorElements = document.getElementsByClassName('error-message');
        Array.from(errorElements).forEach(element => {
          element.innerHTML = '';
          element.style.display = 'none';
        });
      }

      async function logout() {
          try {
               const response = await fetch('/admin/logout', {method: 'POST'})
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    window.location.href = '/admin/login'
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }

     document.getElementById('logout-btn').addEventListener('click', logout);
     </script>

</body>


<!-- Mirrored from techzaa.in/larkon/admin/category-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:17 GMT -->
</html>