<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from techzaa.in/larkon/admin/coupons-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:31 GMT -->
<head>
    <!-- Title Meta -->
    <meta charset="utf-8" />
    <title>Coupons Add | Larkon - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully responsive premium admin dashboard template" />
    <meta name="author" content="Techzaa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="adminAssets/images/favicon.ico">

    <!-- Vendor css (Require in all Page) -->
    <link href="adminAssets/css/vendor.min.css" rel="stylesheet" type="text/css" />

    <!-- Icons css (Require in all Page) -->
    <link href="adminAssets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App css (Require in all Page) -->
    <link href="adminAssets/css/app.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme Config js (Require in all Page) -->
    <script src="adminAssets/js/config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
     .error-message {
          display: none;
     }
    </style>
</head>

<body>

    <!-- START Wrapper -->
    <div class="wrapper">

        <!-- ========== Topbar Start ========== -->
        <%- include('../partials/admin/header') %>

        <!-- Right Sidebar (Theme Settings) -->
        <%- include('../partials/admin/theme') %>
        <!-- ========== Topbar End ========== -->

        <!-- ========== App Menu Start ========== -->
        <%- include('../partials/admin/nav') %>
        <!-- ========== App Menu End ========== -->

        <!-- ==================================================== -->
        <!-- Start right Content here -->
        <!-- ==================================================== -->

        <div class="page-content">

            <!-- Start Container Fluid -->
            <div class="container-xxl">

            <div class="row">
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Coupon Status</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="d-flex gap-2 align-items-center">
                                        <div class="form-check">
                                             <input class="form-check-input" value="active" type="radio" name="coupon-status" id="flexRadioDefault9" checked>
                                             <label class="form-check-label" for="flexRadioDefault9">
                                                  Active
                                             </label>
                                        </div>
                                   </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-check">
                                        <input class="form-check-input" value="inactive" type="radio" name="coupon-status" id="flexRadioDefault10">
                                        <label class="form-check-label" for="flexRadioDefault10">
                                             In Active
                                        </label>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Date Schedule</h4>
                        </div>
                        <div class="card-body">
                              <div class="mb-3">
                                   <label for="start-date" class="form-label text-dark">Start Date</label>
                                   <input type="text" id="start-date" class="form-control flatpickr-input active" placeholder="dd-mm-yyyy" readonly="readonly">
                                   <div class="text-danger error-message mt-1" id="srtdate-error"></div>
                              </div>
                              <div class="mb-3">
                                   <label for="end-date" class="form-label text-dark">End Date</label>
                                   <input type="text" id="end-date" class="form-control flatpickr-input active" placeholder="dd-mm-yyyy" readonly="readonly">
                                   <div class="text-danger error-message mt-1" id="enddate-error"></div>
                              </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="card">
                         <div class="card-header d-flex justify-content-between align-items-center gap-1">
                              <h4 class="card-title flex-grow-1">General Information</h4>
                              <a href="/admin/coupon" class="btn btn-sm btn-primary">
                                   All Coupons
                              </a>
                         </div>
                        <div class="card-body">
                              <div class="row">
                                   <div class="col-lg-6">
                                        <div class="mb-3">
                                             <label for="coupons-code" class="form-label">Coupons Code</label>
                                             <input type="text" id="coupons-code" onkeypress="return event.charCode != 32" class="form-control" placeholder="Code enter">
                                             <div class="text-danger error-message mt-1" id="code-error"></div>
                                        </div>
                                   </div>
                                   
                                   <div class="col-lg-6 mb-4" id="cart-value-cont">
                                        <div class="">
                                            <label for="min-cart-value" class="form-label">Min Cart Value</label>
                                            <input type="text" id="min-cart-value" class="form-control" placeholder="value enter">
                                            <div class="text-danger error-message mt-1" id="cart-val-error"></div>
                                       </div>
                                    </div>
                              </div>
                              <h4 class="card-title mb-3 mt-2">Coupon Usage Limits</h4>
                              <div class="row mb-3">
                                   <div class="col-lg-6">
                                        <div class="mb-3">
                                        <label for="coupons-limits" class="form-label">Coupons Limits</label>
                                        <input type="number" id="coupons-limits" class="form-control" placeholder="limits number">
                                        <div class="text-danger error-message mt-1" id="limit-error"></div>
                                   </div>
                                   </div>
                                   <div class="col-lg-6">
                                        <div class="mb-3">
                                        <label for="limits-user" class="form-label">Limits Per User</label>
                                        <input type="number" id="limits-user" class="form-control" placeholder="limits number">
                                        <div class="text-danger error-message mt-1" id="limit-user-error"></div>
                                   </div>
                                   </div>
                              
                              </div>
                            <h4 class="card-title mb-3 mt-2">Coupons Types</h4>
                            <div class="row mb-3">
                                <div class="col-lg-4">
                                    <div class="form-check">
                                        <input class="form-check-input" value="percentage" type="radio" name="coupon-type" id="type-percentage" checked>
                                        <label class="form-check-label" for="type-percentage">
                                            Percentage
                                        </label>
                                   </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-check">
                                        <input class="form-check-input" value="fixedAmount" type="radio" name="coupon-type" id="type-fixed">
                                        <label class="form-check-label" for="type-fixed">
                                            Fixed Amount
                                        </label>
                                   </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="">
                                        <label for="discount-value" class="form-label">Discount Value</label>
                                        <input type="text" id="discount-value" class="form-control" placeholder="value enter">
                                        <div class="text-danger error-message mt-1" id="discount-error"></div>
                                   </div>
                                </div>
                              <div class="col-lg-6" id="max-discount-cont">
                                <div class="">
                                    <label for="max-discount" class="form-label">Max Discount</label>
                                    <input type="text" id="max-discount" class="form-control" placeholder="value enter">
                                    <div class="text-danger error-message mt-1" id="max-discount-error"></div>
                               </div>
                            </div>
                            </div>
                        </div>
                        <div class="card-footer border-top">
                            <button type="button" id="coupon-create-btn" class="btn btn-primary">Create Coupon</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- End Container Fluid -->

            <!-- ========== Footer Start ========== -->
            <%- include('../partials/admin/footer') %>
            <!-- ========== Footer End ========== -->

        </div>
        <!-- ==================================================== -->
        <!-- End Page Content -->
        <!-- ==================================================== -->

    </div>
    <!-- END Wrapper -->

    <!-- Vendor Javascript (Require in all Page) -->
    <script src="adminAssets/js/vendor.js"></script>

    <!-- App Javascript (Require in all Page) -->
    <script src="adminAssets/js/app.js"></script>
    <script src="adminAssets/js/pages/coupons-add.js"></script>

    <script>

     // fetch for creating new coupon
     async function addCoupon(event) {
          event.preventDefault();
          try {
               const formData = validateForm();
               if(!formData) {
                    return
               }
               const response = await fetch('/admin/addCoupon', {
                    method: 'POST',
                    headers: {
                         'content-type': 'application/json'
                    },
                    body: JSON.stringify(formData)
               });
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    Swal.fire({
                         position: "top-end",
                         icon: "success",
                         title: "Coupon created successfully",
                         showConfirmButton: false,
                         timer: 1500,
                         customClass: {
                              popup: 'custom-swal-popup'
                         }
                    })
                    .then(() => {
                         window.location.href = '/admin/coupon';
                    })
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }
     // setting event on create coupon button
     const createBtn = document.getElementById('coupon-create-btn')
     createBtn.addEventListener('click', addCoupon);

     // validating create coupon form
     function validateForm() {
          let isValid = true;
          clearErrorMsg();
          const code = document.getElementById('coupons-code').value.trim();
          const totalUsageLimit = document.getElementById('coupons-limits').value;
          const usageLimitPerUser = document.getElementById('limits-user').value;
          const discountValue = document.getElementById('discount-value').value;
          const maxDiscount = document.getElementById('max-discount').value;
          const startDate = document.getElementById('start-date').value;
          const endDate = document.getElementById('end-date').value;
          const minCartValue = document.getElementById('min-cart-value').value;
          let couponType = document.getElementsByName('coupon-type');
          let couponStatus = document.getElementsByName('coupon-status');
          if(couponType[0].checked) {
               couponType = couponType[0].value;
          } else {
               couponType = couponType[1].value;
          }
          if(couponStatus[0].checked) {
               couponStatus = couponStatus[0].value;
          } else {
               couponStatus = couponStatus[1].value;
          }
          if(code.length< 4) {
               isValid = false;
               showError('code-error', 'atleast contain 4 characters.');
          }
          if(totalUsageLimit < 1 ) {
               isValid = false;
               showError('limit-error', 'Please give non negative limit number.');
          } 
          if(usageLimitPerUser < 1) {
               isValid = false;
               showError('limit-user-error', 'Please give non negative limit number.');
          } else if(Number(usageLimitPerUser) > Number(totalUsageLimit)) {
               isValid = false;
               showError('limit-user-error', 'User limit cannot exceed coupon limt.')
          }
          if(discountValue < 1) {
               isValid = false;
               showError('discount-error', 'Please give non negative disount value.');
          }
          if(startDate === '') {
               isValid = false;
               showError('srtdate-error', 'start date is required.');
          }
          if(endDate === '') {
               isValid = false;
               showError('enddate-error', 'end date is required.');
          }
          if(startDate !== '' && endDate !== '') {
               const start = new Date(startDate);
               const end = new Date(endDate);
               if(start > end) {
                    isValid = false;
                    showError('srtdate-error', 'Start date cannot be after end date.');
                    showError('enddate-error', 'End date cannot be before start date.');
               } else if(new Date().setHours(0, 0, 0, 0) > start) {
                    isValid = false;
                    showError('srtdate-error', 'Start date is not valid.');
               } else if(end < new Date().setHours(23, 59, 59, 999)) {
                    isValid = false;
                    showError('enddate-error', 'End date is not valid.');
               } else if(start > new Date() && couponStatus === 'active') {
                    isValid = false;
                    showError('srtdate-error', 'Coupon cannot be active if the start date is in the future.')
               }
          }
          if(couponType === 'percentage') {
               if(maxDiscount < 1) {
                    isValid = false;
                    showError('max-discount-error', 'Please give non negative maximum discount value');
               }
          }
          if(minCartValue < 1) {
               isValid = false;
               showError('cart-val-error', 'Please give non negative minimum cart value');
          }
          
          if(isValid) {
               return {
                    code,
                    totalUsageLimit, 
                    usageLimitPerUser,
                    discountValue,
                    minCartValue,
                    maxDiscount,
                    startDate, 
                    endDate,
                    couponType,
                    couponStatus
               }
          } else {
               return isValid;
          }
     }
     // function for clearing error messages
     function clearErrorMsg() {
          const errorMessage = document.querySelectorAll('.error-message');
          errorMessage.forEach(element => {
               element.style.display = 'none';
               element.textContent = '';
          })
     }

     // function for showing error message
     function showError(id, message) {
          const element = document.getElementById(id);
          element.style.display = 'block';
          element.textContent = message;
     }

     // function for max discount in coupon types
     function clearMaxDis(event) {
          event.preventDefault();
          document.getElementById('max-discount-cont').style.display = 'none';
          document.getElementById('max-discount').value = '';
     }
     function displayMaxDis(event) {
          event.preventDefault();
          document.getElementById('max-discount-cont').style.display = 'block';
     }
     document.getElementById('type-percentage').addEventListener('change', displayMaxDis);
     document.getElementById('type-fixed').addEventListener('change', clearMaxDis);

     async function logout() {
          try {
               const response = await fetch('/admin/logout', {method: 'POST'})
               const data = await response.json();
               if(!response.ok) {
                    throw new Error(data.message);
               }
               if(data.success) {
                    window.location.href = '/admin/login'
               }
          } catch (error) {
               Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "Oops...",
                    text: error.message,
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                         popup: 'custom-swal-popup'
                    }
               });
          }
     }

     document.getElementById('logout-btn').addEventListener('click', logout);

    </script>

</body>


<!-- Mirrored from techzaa.in/larkon/admin/coupons-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2024 05:43:31 GMT -->
</html>