<!doctype html>
<html lang="en">


<!-- Mirrored from risingtheme.com/html/demo-suruchi-v1/suruchi/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Nov 2024 05:25:38 GMT -->
<head>
  <meta charset="utf-8">
  <title>Suruchi - Account Page</title>
  <meta name="description" content="Morden Bootstrap HTML5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    
  <!-- ======= All CSS Plugins here ======== -->
  <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/plugins/glightbox.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">

  <!-- Plugin css -->
  <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

  <!-- Custom Style CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    .custom-swal-popup .swal2-html-container {
      font-size: 20px;
    }
    .error-message {
      display: none;
    }
    .password-wrapper {
      position: relative;
      display: flex;
      align-items: center;
    }
    .eye-button {
        position: absolute;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 5px;
        font-size: 18px; 
        outline: none;
    }

    .eye {
        width: 20px;
        height: 20px;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .open-eye {
        background-image: url('https://cdn-icons-png.flaticon.com/512/159/159604.png'); /* Open eye icon */
    }

    .closed-eye {
        background-image: url('https://cdn-icons-png.flaticon.com/512/565/565655.png'); /* Closed eye icon */
    }

  </style>
</head>

<body>
        
        <!-- Start login section  -->
        <div class="login__section section--padding">
            <div class="container">
                <form onsubmit="return formSubmit(event)">
                    <div class="login__section--inner">
                        <div class="row row-cols-md-2 row-cols-1 justify-content-center">
                            <div class="col">
                                <div class="account__login">
                                    <div class="account__login--header mb-25">
                                        <h2 class="account__login--header__title h3 mb-10">Reset Password</h2>
                                    </div>
                                    <div class="account__login--inner">
                                        <div class="password-wrapper">
                                          <input class="account__login--input mb-2" placeholder="Password" id="new-password"
                                          onkeypress="return event.charCode != 32" type="password">
                                          <button type="button" id="toggle-password" class="eye-button">
                                            <span id="eye-icon0" class="eye closed-eye"></span>
                                          </button>
                                        </div>
                                        <p class="text-danger error-message mb-2" id="newpass-error"></p>
                                        <div class="password-wrapper">
                                          <input class="account__login--input mt-3 mb-2" 
                                          onkeypress="return event.charCode != 32" placeholder="Reenter Password" id="confirm-password" type="password">
                                          <button type="button" id="toggle-cpassword" class="eye-button">
                                            <span id="eye-icon1" class="eye closed-eye"></span>
                                          </button>
                                        </div>
                                        <p class="text-danger error-message mb-2" id="confpass-error"></p>
                                        <button class="account__login--btn primary__btn mt-3" type="submit">save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>     
        </div>
        <!-- End login section  -->
    </main>

    
    <!-- Scroll top bar -->
    <button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 244l144-144 144 144M256 120v292"/></svg></button>

    
  <!-- All Script JS Plugins here  -->
  <script src="assets/js/vendor/popper.js" defer="defer"></script>
  <script src="assets/js/vendor/bootstrap.min.js" defer="defer"></script>
  <script src="assets/js/plugins/swiper-bundle.min.js"></script>
  <script src="assets/js/plugins/glightbox.min.js"></script>

  <!-- Customscript js -->
  <script src="assets/js/script.js"></script>
  <script>
    async function formSubmit(event) {
      event.preventDefault();
      if(!validateForm()) {
        return;
      }
      try {
        const passwordElem = document.getElementById('new-password');
        const repasswordElem = document.getElementById('confirm-password');
        const password = passwordElem.value;
        const repassword = repasswordElem.value;

        const response = await fetch('/resetPassword', {
          method: 'PATCH',
          headers: {
            'content-type': 'application/json'
          },
          body: JSON.stringify({password,repassword})
        });
        const data = await response.json();
        if(!response.ok) {
          throw new Error(data.message);
        }
        if(data.success) {
          Swal.fire({
              position: "top-end",
              icon: 'success',
              title: 'Password Changed successfully.',
              showConfirmButton: false,
              timer: 1500,
              customClass: {
                popup: 'custom-swal-popup'
            }
            })
            .then(() => {
              window.location.href = data.redirectUrl;
            });
        }
      } catch (error) {
        Swal.fire({
            position: "top-end",
            icon: "error",
            title: "Oops...",
            text: error.message,
            showConfirmButton: false,
            timer: 1500,
            customClass: {
                popup: 'custom-swal-popup'
            }
          });
      }
    } 
    function validateForm() {
      let isValid = true;
      const passwordVal = document.getElementById('new-password').value;
      const rePasswordVal = document.getElementById('confirm-password').value;

      const newpassError = document.getElementById('newpass-error');
      const confpassError = document.getElementById('confpass-error');

      newpassError.textContent = '';
      newpassError.style.display = 'block';

      confpassError.textContent = '';
      confpassError.style.display = 'block';

      const alpha = /[a-zA-Z]/;
      const digit = /\d/;
      const spaces = /^(?!.* )/;

        if(passwordVal.length < 8) {
            isValid = false;
            newpassError.textContent = 'Password should contain atleast 8 characters';
            newpassError.style.display = 'block';
        } else if(!alpha.test(passwordVal)) {
            isValid = false;
            newpassError.textContent = 'Password should contain alphabets';
            newpassError.style.display = 'block';
        } else if(!digit.test(passwordVal)) {
            isValid = false;
            newpassError.textContent = 'Password should contain numbers';
            newpassError.style.display = 'block';
        } else if(!spaces.test(passwordVal)) {
            isValid = false;
            newpassError.textContent = 'password should not contain spaces';
            newpassError.style.display = 'block';
        } else if(passwordVal !== rePasswordVal) {
            isValid = false;
            confpassError.textContent = 'Password do not match';
            confpassError.style.display = 'block';
        }
        
        return isValid
    }

    const password = document.getElementById('new-password');
    const passToggleButton = document.getElementById('toggle-password');
    const passEyeIcon = document.getElementById('eye-icon0');

    const cpassword = document.getElementById('confirm-password');
    const cpassToggleButton = document.getElementById('toggle-cpassword');
    const cpassEyeIcon = document.getElementById('eye-icon1');

    passToggleButton.addEventListener('click', () => {
      const isPasswordVisible = password.type === 'text';
      password.type = isPasswordVisible ? 'password' : 'text';

      // Toggle the icon class
      passEyeIcon.classList.toggle('open-eye', !isPasswordVisible);
      passEyeIcon.classList.toggle('closed-eye', isPasswordVisible);
    });

    cpassToggleButton.addEventListener('click', () => {
      const isPasswordVisible = cpassword.type === 'text';
      cpassword.type = isPasswordVisible ? 'password' : 'text';

      // Toggle the icon class
      cpassEyeIcon.classList.toggle('open-eye', !isPasswordVisible);
      cpassEyeIcon.classList.toggle('closed-eye', isPasswordVisible);
    });

  </script>
</body>

<!-- Mirrored from risingtheme.com/html/demo-suruchi-v1/suruchi/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Nov 2024 05:25:38 GMT -->
</html>